<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Detail - {{ name }}</title>
  </head>




  <body>
<a class="btn btn-primary" href="/csfd/">Zpět na hledání</a>
<h2>{{ name }}</h2>
<h3>Filmy, ve kterých hrál:</h3>
    <p>
{% for result in all_movies %}
        <li><a href="/csfd/movie/{{ result.id_movie }}/">{{ result.movie }}</a></li>
{% endfor %}
</p>


  </body>
</html>
