<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Detail - {{ name }}</title>
  </head>




  <body>
<a class="btn btn-primary" href="/csfd/">Zpět na hledání</a>
<h2>{{ name }}</h2>
<h3>Herci v tomto filmu:</h3>
    <p>
{% for result in all_actors %}
        <li><a href="/csfd/actor/{{ result.id_actor }}/">{{ result.actor }}</a></li>
{% endfor %}
</p>


  </body>
</html>
