<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Filmy a herci</title>
  </head>

<style>
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>


  <body>
    <p>Vyhledávání herců a filmů figurujících v Top 300 databáze ČSFD.</p>
    <form action="" method="post">
         {% csrf_token %}
         {{ form }}
    <input type="submit" value="Hledej!">
    </form>

 <div class="row">
  <div class="column">
<h3>Filmy:</h3>
    {% for result in movie_results %}
        <li><a href="/csfd/movie/{{ result.id_movie }}/">{{ result.movie }}</a></li>
    {% endfor %}</div>
  <div class="column">
<h3>Herci:</h3>
    {% for result in actor_results %}
        <li><a href="/csfd/actor/{{ result.id_actor }}/">{{ result.actor }}</a></li>
    {% endfor %}</div>
</div> 


  </body>
</html>
